filestores/cache/**
filestores/download/**
filestores/temp/**
filestores/tmp/**
filestores/upload/**
!filestores/.gitkeep
public/assets/*
public/assets/**
vendor/*
vendor/**
public/images/default/**
.idea/*
.idea/**
userdata/instances/default/pages/*
!userdata/instances/default/pages/home.html
!userdata/instances/default/pages/home.xml
modules/**
!modules/system/
!modules/sitemap/
!modules/parallax/
!modules/blog/
!modules/system/**
!modules/sitemap/**
!modules/parallax/**
!modules/blog/**
